<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.waterqualitymonitoring">

    <application
        android:label="Water Quality Monitoring"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label">
    </application>

</manifest>
